.todoList {
}

.todoItem {
  padding: 4px;
  margin-bottom: 6px;
  border-bottom: 3px solid #ffcccb;
  display: flex;

  .title {
    margin: 0;
    margin-right: 16px;
    font-size: 20px;
    flex: 1 0 0;
  }

  .description {
    margin: 0;
    font-size: 12px;
    flex: 4 0 0;
    text-align: left;
  }

  .deleteButton {
    background-color: #ff3232;
    border: 1px solid #ff3232;
    border-radius: 3px;
    color: white;
    transition: all 0.1s ease-in-out;
    margin-left: 12px;

    &:hover {
      background-color: darken(#ff3232, 10%);
      border-color: darken(#ff3232, 10%);
    }
  }
}
